@font-face {
  font-family: ActUpProtestFont;
  src: url("ActUpProtestFont-Regular.otf") format("opentype"),
}

body {
  font-family:'verdana';
  color: #ffffff;
  background-color: #ADB2D3;
  margin: 30px;
}

header, div, section, footer {
  padding: 20px;
  background-color: #214946;
  margin-bottom: 0px;
  position: relative;
  overflow: hidden;
}
.divider {  
  padding: 20px;
  background-color: #214946;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
  overflow: hidden;

}
.title {
  font-family: ActUpProtestFont;
  text-align: center;
}

div.gallery-container {
  background-color: #ADB2D3;
  overflow: auto; 
  white-space: nowrap;
  padding: 10px;
}

div.gallery-container img {
  padding: 10px;
  width: 50%;
  height: auto;
  position: center;
  
  }
  

a {
  color: #E4FFE1;
  text-decoration: none; 
}

a:hover {
  color: #E4FFE1;
  text-decoration: underline; 
  background-color: #896279;
}

a:visited {
  color: #E4FFE1;
}

a:active {
  color: #E4FFE1;
  
  
}
